<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
<p>Students attendance table</p>
<br>
        <table class="table">
        <tr class="table_header" >
            {% for header in headings %}
            <th class="table_cell" >{{header}}</th>
            {% endfor %} 
        </tr>
         {% for row in data %}
        <tr class="table_row" >
            {% for cell in row %}   
            <td class="table_cell" >{{cell}}</td>
            {% endfor %}
        </tr>
         {% endfor %}
        </table>
</body>
</html>






